body {
    background-color: black;
    color: white;
}
.contentSection {
    padding: 40px;
}
.contentSection p {
    text-align: justify;
}
.contentSection h1 {
    margin-bottom: 60px;
}